.cl-slide-in {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
    box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.57);
    -webkit-box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: -1px -1px 10px 0px rgba(0,0,0,0.57);
    overflow: hidden;
}
.cl-silde-in-closed {
    width: 0px;
    opacity: 0.8;
}
.cl-slide-in-header {
    padding: 20px;
    font-size: 21px;
    font-weight: 500;
    background-color: #6cbdc1;
    color: white;
    display: flex;
    align-items: center;
    height: 10vh;
    box-sizing: border-box;
    min-width: max-content;
}

.cl-slide-in-header-title, .cl-slide-in-header-icon{
    padding: 0 10px;
}

.cl-slide-in-body{
    width: 100%;
    max-width: inherit;
    height: 78vh;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.cl-slide-in-footer {
    padding: 20px;
    font-size: 21px;
    font-weight: 500;
    background-color: #e5e5e559;
    width: 100%;
    max-width: inherit;
    box-sizing: border-box;
    bottom: 0px;
    height: 12vh;
    box-sizing: border-box;
}