.cl-slide-in-footer-save-btn {
    font-size: 13px;
    padding: 13px;
    background-color: #6cc1a6;
    color: white;
    font-weight: 600;
}

.cl-slide-in-footer-save-btn:hover {
    background-color: white;
    color: #6cc1a6;
}
.cl-slide-in-footer-save-btn:disabled:hover {
    color: white;
}

.cl-slide-in-footer-cancel-btn {
    font-size: 13px;
    padding: 13px;
    background-color: white;
    color: #ff4a4a;
    font-weight: 600;
}